<p id="notice"><%= notice %></p>

<h1>Srticles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Suthor</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @srticles.each do |srticle| %>
      <tr>
        <td><%= srticle.title %></td>
        <td><%= srticle.suthor %></td>
        <td><%= srticle.body %></td>
        <td><%= link_to 'Show', srticle %></td>
        <td><%= link_to 'Edit', edit_srticle_path(srticle) %></td>
        <td><%= link_to 'Destroy', srticle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Srticle', new_srticle_path %>
